@model OnlineArtGallery.Models.Artdetail

@{
    ViewBag.Title = "Editimage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Editimage", "inibuyers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()



        @*<div class="form-group">
            @Html.LabelFor(model => model.userrole, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userrole, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userrole, "", new { @class = "text-danger" })
            </div>
        </div>*@

       
     

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous" />
    </head>
    <body>
        <br />
        <br />

        <div class="text-center">
            <h4>
                Post On Art Gallery
            </h4>
        </div>
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px">
                            <div class="card-body p-5">
                                <div class="row g-5">
                                    <div class="col">
                                        <!-- Name of Art -->
                                        <div class="form-outline">
                                            <label for="nameart">Name Art</label>
                                            @Html.EditorFor(model => model.nameart, new { htmlAttributes = new { @class = "form-control ", placeholder = "Art", type = "text", id = "nameart" } })
                                            @Html.ValidationMessageFor(model => model.nameart, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    <div class="col">
                                        <!-- Name of Artist -->
                                        <div class="form-outline">
                                            <label for="Nameartist">Name Artist</label>
                                            @Html.EditorFor(model => model.nameartist, new { htmlAttributes = new { @class = "form-control", @placeholder = "Artist", @id = "Nameartist", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.nameartist, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-5">
                                    <div class="col">
                                        <!-- Description  Art -->
                                        <div class="form-outline">
                                            <label for="Description">Description</label>

                                            @Html.EditorFor(model => model.descriptionofart, new { htmlAttributes = new { @type = "text", @class = "form-control", @placeholder = "Description", @id = "Description" } })
                                            @Html.ValidationMessageFor(model => model.descriptionofart, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col">
                                        <!-- Art Size -->
                                        <div class="form-outline">
                                            <label for="Artsize">Art size</label>
                                            @Html.EditorFor(model => model.artsize, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Size", @id = "Artsize" } })
                                            @Html.ValidationMessageFor(model => model.artsize, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-5">
                                    <div class="col">
                                        <!-- Name of Art -->
                                        <div class="form-outline">
                                            <label for="Price">Price</label>
                                            @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control", @placeholder = "Price", @id = "Price", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="Review">Upload Image</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                      id="inputGroupFileAddon01">Upload</span>
                                            </div>
                                            <div class="custom-file">
                                                <input type="file"
                                                       class="custom-file-input"
                                                       id="inputGroupFile01"
                                                       aria-describedby="inputGroupFileAddon01" name="File" />
                                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="col">
                                    <!-- Name of Artist -->
                                    <div class="form-outline">
                                        <label for="Review">Reviews</label>

                                        @Html.EditorFor(model => model.review, new { htmlAttributes = new { @class = "form-control", @id = "Review" } })
                                        @Html.ValidationMessageFor(model => model.review, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-check form-outline mb-4 ">
                                    <label class="form-label font-weight-bold px-5" for="user">Avaliablity</label>
                                    @Html.RadioButtonFor(model => model.avali, "Instock", new { @class = "form-check-input", @type = "radio", @name = "user", @id = "Instock" })
                                    <label class="form-check-label font-italic pr-4" for="Instock">
                                        Instock
                                    </label>

                                    @Html.RadioButtonFor(model => model.avali, "Outofstock", new { @class = "form-check-input", @type = "radio", @name = "user", @id = "Outofstock" })
                                    <label class="form-check-label pl-1 font-italic " for="Outofstock">
                                        OutofStock
                                    </label>
                                </div>
                                <br />



                                <div class="form-check form-outline mb-4 text-center">
                                    <div class="col">
                                        <!-- Submit button -->
                                        <button type="submit" class="btn btn-primary btn-block mb-4">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</html>


}

