@model OnlineArtGallery.Models.inibuyer

@{
    ViewBag.Title = "signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>signup</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="D:/style" rel="stylesheet" />
</head>
<body>
    <section>
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                                <form>



                                    <div class="form-check form-outline mb-4">
                                        <label class="form-label font-weight-bold px-5" for="user">UserRole</label>
                                        @Html.RadioButtonFor(model => model.users, "Buyer", new { @class = "form-check-input", @type = "radio", @name = "user", @id = "Buyer" })
                                        <label class="form-check-label font-italic pr-4" for="Buyer">
                                            Buyer
                                        </label>

                                        @Html.RadioButtonFor(model => model.users, "Artist", new { @class = "form-check-input", @type = "radio", @name = "user", @id = "Artist" })
                                        <label class="form-check-label pl-1 font-italic " for="Artist">
                                            Artist
                                        </label>
                                    </div>



                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="FName">First Name</label>
                                        @Html.TextBoxFor(m => m.fname, new { @class = "form-control form-control-lg ", @type = "text", @id = "FName" })

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="lname">Last Name</label>
                                        @Html.TextBoxFor(m => m.lname, new { @class = "form-control form-control-lg ", @type = "text", @id = "lname" })

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="email">Your Email</label>
                                        @Html.TextBoxFor(m => m.email, new { @class = "form-control form-control-lg ", @type = "email", @id = "email" })

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="contactt">Phone No</label>
                                        @Html.TextBoxFor(m => m.contactt, new { @class = "form-control form-control-lg ", @type = "text", @id = "contactt" })

                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="contacto">Tel No</label>
                                        @Html.TextBoxFor(m => m.contacto, new { @class = "form-control form-control-lg ", @type = "text", @id = "contacto" })

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="adress">Address</label>
                                        @Html.TextBoxFor(m => m.adress, new { @class = "form-control form-control-lg ", @type = "text", @id = "adress" })

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="region">Region</label>
                                        @Html.TextBoxFor(m => m.region, new { @class = "form-control form-control-lg ", @type = "text", @id = "region" })


                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="city">City</label>
                                        @Html.TextBoxFor(m => m.city, new { @class = "form-control form-control-lg ", @type = "text", @id = "city" })


                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="coun">Country</label>
                                        @Html.TextBoxFor(m => m.country, new { @class = "form-control form-control-lg ", @type = "text", @id = "coun" })


                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="pcode">Postal Code</label>
                                        @Html.TextBoxFor(m => m.pcode, new { @class = "form-control form-control-lg ", @type = "text", @id = "pcode" })

                                    </div>

                                    <div class="form-check form-outline mb-4">
                                        <label class="form-label px-5 font-weight-bold ">Gender</label>
                                        @Html.RadioButtonFor(model => model.gender, "Male", new { @class = "form-check-input ", @type = "radio", @name = "flexRadioDefault", @id = "flexRadioDefault1" })
                                        <label class="form-check-label font-italic pr-4" for="flexRadioDefault1">
                                            Male
                                        </label>
                                        @Html.RadioButtonFor(model => model.gender, "Female", new { @class = "form-check-input ", @type = "radio", @name = "flexRadioDefault", @id = "flexRadioDefault2" })

                                        <label class="form-check-label font-italic px-1 " for="flexRadioDefault2">
                                            Female
                                        </label>

                                        <label class="form-check-label  pl-4" for="">
                                            <!-- blank     -->
                                        </label>

                                        @Html.RadioButtonFor(model => model.gender, "Others", new { @class = "form-check-input   px-2", @type = "radio", @name = "flexRadioDefault", @id = "flexRadioDefault3" })
                                        <label class="form-check-label  pl-1" for="flexRadioDefault3">
                                            Others
                                        </label>
                                    </div>



                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="pass">Password</label>
                                        @Html.TextBoxFor(m => m.pass, new { @class = "form-control form-control-lg ", @type = "password", @id = "pass" })

                                    </div>

                                    @*<div class="form-check d-flex justify-content-center mb-5">
            @Html.CheckBoxFor(model => model.verify ,new { @class="form-check-input me-2" ,@type="checkbox" ,@value="" ,@id= "Verify" })
            <label class="form-check-label" for="Verify">
                <br>
                I agree all statements in  <a href="#!" class="text-body"><u>Terms of service</u></a>
            </label>
        </div>*@

                                    <div class="d-flex justify-content-center">
                                        <button type="submit"
                                                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                            Create
                                        </button>
                                    </div>
                                    <br>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
}
<div>
    @Html.ActionLink("Click to login", "Login")
</div>
